<!DOCTYPE html>
<html>
<head>
  <title>Experteese</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application0', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application0', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= yield %>
</body>
</html>
